@font-face {
  font-family: "NotoSansJP";
  src: url("../public/fonts/NotoSansJP/NotoSansJP-Regular.woff2") format('woff2'),
       url("../public/fonts/NotoSansJP/NotoSansJP-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansJP";
  src: url("../public/fonts/NotoSansJP/NotoSansJP-Bold.woff2") format('woff2'),
       url("../public/fonts/NotoSansJP/NotoSansJP-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --main-color: #ba0c2f;
  --font-color: #333;
}


body {
    color: var(--font-color);
    font-family: 'NotoSansJP', sans-serif;
}
